

<h2>Novo Usuário</h2>
<div id="result-area"></div>
<input type="hidden" value="" id="token"/>
<div class="form-horizontal">
    <h4>Usuário</h4>
    <hr/>
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <div class="form-group">
        @Html.Label("Nome", new {@class = "control-label col-md-1"})
        <div class="col-md-10">
            @Html.Editor("Nome", new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessage("Nome", "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Email", new {@class = "control-label col-md-1"})
        <div class="col-md-10">
            @Html.Editor("Email", new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessage("Email", "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Telefone", new {@class = "control-label col-md-1"})
        <div class="col-md-10">
            @Html.TextBox("Ddd", null, new {maxlength = 2}) - @Html.TextBox("Numero", null, new {maxlength = 9})
            @Html.ValidationMessage("Ddd", "", new {@class = "text-danger"}) @Html.ValidationMessage("Numero", "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Senha", new {@class = "control-label col-md-1"})
        <div class="col-md-10">
            @Html.Password("Senha", "", new {@class = "form-control"})
            @Html.ValidationMessage("Senha", "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Confirmar Senha", new {@class = "control-label col-md-1"})
        <div class="col-md-10">
            @Html.Password("ConfirmaSenha", "", new {@class = "form-control"})
            @Html.ValidationMessage("ConfirmaSenha", "", new {@class = "text-danger"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-1 col-md-1">
            <input type="button" value="Salvar" id="request-button" class="btn btn-default"/>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script>
    $(document).ready(function() {
        var data = {
            grant_type: 'password'
        };
        $.ajax({
                url: "http://localhost:53151/api/security/token",
                type: 'post',
                contentType: 'x-www-form-urlencoded',
                data: data
            })
            .done(function(data) {
                $("#token").html(data.access_token);
                $("#request-button").on('click',
                    function() {
                        $("#result-area").html("");
                        var nome = $("#Nome").val();
                        var email = $("#Email").val();
                        var senha = $("#Senha").val();
                        var confirmaSenha = $("#ConfirmaSenha").val();
                        var ddd = $("#Ddd").val();
                        var numero = $("#Numero").val();

                        if (nome === "") {
                            $("#result-area").append("<p style='color:red'>O campo Nome deve ser preenchido</p>");
                            return false;
                        }

                        if (email === "") {
                            $("#result-area").append("<p style='color:red'>O campo E-mail deve ser preenchido</p>");
                            return false;
                        }

                        if (senha === "") {
                            $("#result-area").append("<p style='color:red'>O campo Senha deve ser preenchido</p>");
                            return false;
                        }
                        if (confirmaSenha === "") {
                            $("#result-area")
                                .append("<p style='color:red'>O campo Confirmar Senha deve ser preenchido</p>");
                            return false;
                        }

                        if (senha !== confirmaSenha) {
                            $("#result-area").append("<p style='color:red'>Senhas não conferem</p>");
                            return false;
                        }

                        $.ajax({
                                url: "http://localhost:53151/api/signup?token=" +
                                    data.access_token +
                                    "&nome=" +
                                    nome +
                                    "&email=" +
                                    email +
                                    "&senha=" +
                                    senha +
                                    "&ddd=" +
                                    ddd +
                                    "&Telefone=" +
                                    numero +
                                    "",
                                type: 'post',
                                contentType: 'application/json',
                                dataType: "json",
                                headers: {
                                    "Authorization": "Bearer " + data.access_token
                                }

                            })
                            .done(function(result) {

                                if (result === "E-mail já cadastrado.") {
                                    $("#result-area").append("<p style='color:red'>" + result + "</p>");
                                    return false;
                                }
                                if (result === false) {
                                    $("#result-area").append("<p style='color:red'>Erro ao salvar dados.</p>");
                                    return false;
                                }


                                $.ajax({
                                        url: "http://localhost:53151/api/SaveTelefones?id=" +
                                            result +
                                            "&ddd=" +
                                            ddd +
                                            "&numero=" +
                                            numero +
                                            "",
                                        type: 'post',
                                        contentType: 'application/json',
                                        dataType: "json",
                                        headers: {
                                            "Authorization": "Bearer " + data.access_token
                                        }
                                    })
                                    .done(function(result) {
                                        $("#result-area").append("<p style='color:red'>" + result + "</p>");
                                    })
                                    .error(function(error) {
                                        $("#result-area").append("<p style='color:red'>Falha na requisição</p>");
                                    });

                            })
                            .error(function(error) {
                                $("#result-area").append("<p style='color:red'>Falha na requisição</p>");
                            });
                        return false;
                    });
            })
            .error(function(data) {
                $("#result-area").append("<p style='color:red'>Usuário ou senha inválidos</p>");
            });
    });
</script>